*{
    color: #191973;
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

input[type=submit]{
    background-color: #7a53ad;
    padding:10px;
    color:white;
    border: none;
    border-radius:5px;
}

input[type=text], input[type=password], input[type=email]{
    border: 2px solid #7a53ad;
    padding: 5px;
    border-radius:5px;
}


ul, li{
    list-style-type: "\274C"
}

form{
    margin: 20px;

}
