*{
    color:#191973;
    font-family: 'Arial', sans-serif;
}

h1, p, h2{
    margin: 40px;
}


input[type=submit]{
    background-color: #7a53ad;
    padding:10px;
    margin:0;
    color:white;
    border: none;
    border-radius:5px;
}

input[type=text]{
    border: 2px solid #7a53ad;
    padding: 5px;
    border-radius:5px;
}

.questionInput{
    width: 100%;
    font-weight: bold;
    margin:0;
}

input[type=text].choiceInput{
    width:50%;
    border: 2px solid #ccc;
    margin: 5px;;
}

input[type=submit].cancelChanges{
    background-color: #eee;
    margin:0;
    color:#191973;
}

input[type=submit].delQuestion{
    background-color: #bf366f;
    margin: 0;
    color: white;
}

input[type=submit].addQuestion{
    background-color: #b8f5c3;
    margin-left: 50px;
    color: black;
    border: 2px solid #4cad5e;
}

.saveQuestion{
    margin:0;
}

ul, li{
    list-style:none;
    margin: 5px;
}

.item{
    border: 2px solid #ddd;
    border-radius: 9px;
    padding: 20px;
}

.subitem{
    padding:10px;
}
