{% load static %}

<! DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}PPE{% endblock %}</title>

        {% if request.path == '/ppe/' %}

            <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">

        {% elif '/ppe/login' in request.path or '/ppe/signup' in request.path %}

            <link rel="stylesheet" type="text/css" href="{% static 'blog/css/auth.css' %}">

        {% endif %}

    
    
    </head>

    <body>

        {% block content %}

        {% endblock %}

    </body>

</html>
