{% extends 'blog/base.html' %}

{% block title %}Accueil - PPE{% endblock %}

{% block content %}

<h1>Bienvenue</h1>
<p>Bonjour, {{ user.first_name | title }} {{ user.last_name | upper }}. (<a href="/ppe/logout" id="switch"><em>Se déconnecter</em></a>)</p>
<hr>


{% if user.profile.isTeacher %}

<h2>Liste des questions:</h2>
<p>Pour effectuer des modifications merci de traiter les questions une par une.<p>

<form action="{% url 'blog:index' %}" method="post">
    {% csrf_token %}
    <input name="verifAjouter" type="text" style="visibility:hidden;display:None;">
    <input name="submit" class="addQuestion" type="submit" value="&#x2795; Ajouter">
</form>

{% for q in questions %}

<ul>
    <li class="item">

        <form action="{% url 'blog:index' %}" method="post">
            {% csrf_token %}
            
            <input value="{{ q.id }}" name="qId" type="text" style="display:none; visibility:hidden;">
            <input class="questionInput" value="{{ q.questionText }}" name="newQuestion" type="text">

            <ul class="subitem">
                <li>A) <input class="choiceInput" value="{{ q.choice_A }}" name="choiceA{{ q.id }}" type="text"></li>
                <li>B) <input class="choiceInput" value="{{ q.choice_B }}" name="choiceB{{ q.id }}" type="text"></li>
                <li>C) <input class="choiceInput" value="{{ q.choice_C }}" name="choiceC{{ q.id }}" type="text"></li>
                <li>D) <input class="choiceInput" value="{{ q.choice_D }}" name="choiceD{{ q.id }}" type="text"></li> 

                <span>&nbsp;&#x2705;)</span>
                <input name="radAnswer" type="radio" id="radio_{{ q.id }}A" value="A" {% if q.answer == 'A' %}checked{% endif %}>
                <label for="radio_{{ q.id }}A">A</label>

                <input name="radAnswer" type="radio" id="radio_{{ q.id }}B" value="B" {% if q.answer == 'B' %}checked{% endif %}>
                <label for="radio_{{ q.id }}B">B</label>

                <input name="radAnswer" type="radio" id="radio_{{ q.id }}C" value="C" {% if q.answer == 'C' %}checked{% endif %}>

                <label for="radio_{{ q.id }}C">C</label>
            
                <input name="radAnswer" type="radio" id="radio_{{ q.id }}D" value="D" {% if q.answer == 'D' %}checked{% endif %}>

                <label for="radio_{{ q.id }}D">D</label>
            </ul>

            <input name="submit" class="saveQuestion" type="submit" value="&#x2714; Enregistrer les changements">
            <input name="submit" class="cancelChanges" type="submit" value="&#x21A9; Annuler les changements">
            <input name="submit" class="delQuestion" type="submit" value="&nbsp;&#x2716;&nbsp;">
        </form>

    
    </li>
</ul>



{% endfor %}

{% else %}

{% endif %}






{% endblock %}
