{% extends 'blog/base.html' %}

{% block title %}Connexion - PPE{% endblock %}

{% block content %}
<h1>&#x1F512; Connexion</h1>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK"/>
</form>
<a href="/ppe/signup" id="switch">Créer un compte</a>

{% endblock %}

