{% extends 'blog/base.html' %}

{% block title %}Créer un compte - PPE{% endblock %}

{% block content %}

<h1>&#x1F464; Créer un compte</h1>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK"/>
</form>
<a href="/ppe/login" id="switch">J'ai déjà un compte</a>

{% endblock %}
